#countdown {
    background-color: gray;
    display: grid;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 15%;
    padding-left: 15%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

#wishes {
    background-color: lightgray;
    text-align: center;
    font-style: normal;
    font-size: 24px;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 5px 5px 12px whitesmoke,
                inset -5px -5px 12px rgb(49, 49, 49);
}